.skills {
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  justify-content: center;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.5rem;
  height: 12.5rem;
  padding: 1rem;
  background: var(--color-primary-alpha-25);
  border: 0.1rem solid var(--color-primary);
  backdrop-filter: blur(0.5rem);
  list-style: none;
  border-radius: 1rem 0;
  opacity: 0;
}

.skills__item.active {
  animation: topRevel 0.5s forwards;
}

.skills__subtitle {
  text-align: center;
  color: var(--color-neutral-white);
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

.skills__icon {
  width: 65%;
}

@media screen and (min-width: 1024px) {
  .skills__list {
    gap: 2rem;
  }

  .skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 10rem;
    max-height: 10rem;
  }

  .skills__subtitle {
    font-size: 1.5rem;
  }

  .skills__icon {
    display: inline-block;
    width: 75%;
  }
}

@media screen and (min-width: 1440px) {
}
