.banner {
  display: flex;
  height: 75vh;
  justify-content: center;
  background-image:
    linear-gradient(
      180deg,
      var(--color-neutral-black-alpha-60),
      var(--color-neutral-black-alpha-60)
    ),
    url(../../../assets/img/fundos/giphy-picos.gif);
  background-position: top center;
  background-size: cover;
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: var(--color-neutral-white);
  margin-bottom: 5rem;
}

.banner__image {
  height: 25rem;
  width: auto;
  margin-bottom: 2.5rem;
}

.banner__prefix {
  font-size: 2rem;
}

.banner__title {
  font-size: 3.6rem;
  font-weight: 600;
  margin: 1rem 0;
}

.banner__subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 90vh;
  }

  .banner__image {
    height: 35vh;
  }
}
