.projects {
}

.projects__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projects__item {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--cor-principal);
  overflow: hidden;
  opacity: 0;
}

.projects__item.active {
  animation: topRevel 0.5s forwards;
}

.projects__image {
  height: 40vw;
  object-fit: cover;
}

.projects__introduction {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding: 1rem;
}

.projects__title {
  color: var(--branco);
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  margin: 0 0 1rem 0;
  width: fit-content;
  border-bottom: 0.1rem solid var(--cor-principal);
}

.projects__text {
  color: var(--branco);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.projects__button {
  background: none;
  border: 0;
  border-bottom: 0.1rem solid var(--cor-principal);
  color: var(--branco);
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  margin-left: auto;
  margin-top: auto;
  padding: 0;
  width: fit-content;
}

@media screen and (min-width: 600px) {
  .projects__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__image {
    height: 20vw;
  }
}

@media screen and (min-width: 1024px) {
  .projects__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects__image {
    height: 15vw;
  }
}

@media screen and (min-width: 1440px) {
  .projects__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .projects__image {
    height: 10vw;
  }
}
