:root {
  --cor-principal: #bf0600;
  --cor-principal-6: #bf06000f;
  --cor-principal-25: #bf060040;
  --cor-principal-60: #bf060099;

  --cor-fundo-menu: #0a0909cc;
  --cor-fundo-1: #0a0909;
  --cor-fundo-1-25: #0a090940;
  --cor-fundo-1-75: #0a0909bf;
  --cor-fundo-2: #bf060040;

  --cor-font-1: #646363;

  --altura-menu: 7.1rem;

  --preto-20: #00000033;
  --preto-60: #00000099;
  --branco: #ffffff;

  --query-tablet: 1028px;
  --query-desktop: 1440px;
}
